@model IEnumerable<demo.Models.tbl_Bill>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>@Html.DisplayNameFor(model => model.id)</th>
        <th>
            @Html.DisplayNameFor(model => model.level_status)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.total_price)
        </th>
        <th>@Html.DisplayNameFor(model => model.cus_address)</th>
        <th>
            @Html.DisplayNameFor(model => model.cus_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.tbl_Customer.username)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.level_status)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.total_price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.cus_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.tbl_Customer.username)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id }) |
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })
        </td>
    </tr>
}

</table>
