@model demo.Models.tbl_Product

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/Admin.cshtml";
    List<demo.Models.tbl_Category> cate = (List<demo.Models.tbl_Category>)ViewBag.cate;
}

<h2>Create</h2>


<form action="@Url.Action("postCreate","Product")" method="post" enctype="multipart/form-data">
    <table class="table">
        <tr>
            <td><label>Category ID:</label></td>
            <td>
                <select name="cate_id">
                    @for (int i = 0; i < cate.Count(); i++)
                    {
                        <option value="@cate[i].id">@cate[i].name</option>
                    }
                </select>
            </td>
        </tr>
        <tr>
            <td><label>Name:</label></td>
            <td><input type="text" name="name" placeholder="Name" required /></td>
        </tr>
        <tr>
            <td><label>Metaname:</label></td>
            <td><input type="text" name="meta_name" placeholder="Metaname" required /></td>
        </tr>
        <tr>
            <td><label>Img:</label></td>
            <td><input type="file" name="img_file" value="Choose file" /></td>
        </tr>
        <tr>
            <td><label>Rate:</label></td>
            <td><input type="number" name="rate" min="0" value="0" /></td>
        </tr>
        <tr>
            <td><label>Amount:</label></td>
            <td><input type="number" name="amount" min="0" value="0" /></td>
        </tr>
        <tr>
            <td><label>Price:</label></td>
            <td><input type="number" name="price" min="0" value="0" /></td>
        </tr>
        <tr>
            <td><label>Discount:</label></td>
            <td><input type="number" name="discount" min="0" value="0" /></td>
        </tr>
        <tr>
            <td><label>Get At:</label></td>
            <td><input type="text" name="get_at" value="@DateTime.Now" required /></td>
        </tr>
        <tr><td colspan="2" style="text-align:center"><input type="submit" name="submit" value="Create" class="btn btn-default"/></td></tr>
    </table>
</form>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}
